POSTGRES_URL=
BLOB_READ_WRITE_TOKEN=
HAJIMI_STUDENT_INVITE_CODE=
HAJIMI_TEACHER_INVITE_CODE=
DASHSCOPE_API_KEY=
SILICONFLOW_API_KEY=
HAJIMI_ORACLE_API_KEY=
HAJIMI_ORACLE_API_URL=
HAJIMI_ORACLE_MODEL=
